
/*-------------------------------------*/
/* ---------- Basic Setup -------------*/
/*-------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}

html {
    background-color: #fff;
    color: #555;
    font-family: times;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;

}
.row {
    max-width: 1140px;
    margin:0 auto;
}
.section-features{
    padding: 80px 0;
}
.clearfix { zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*------ Header  ------*/
.hero-text{

    margin-left: 5%;

}
.hero-text div{
  font-size: 105%;
  line-height: 180%;

}

.hero-text div a {
  font-size: 70%;


}
header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6),rgba(21, 166, 22, 0.66)) ,url(img/pexels-photo-954198.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
h1 {

    color: #555;
    font-size: 240%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 4px;
    float: left;
}



/*------ Header Buttons ------*/
.btn:link,
.btn:visited,
.btn:active {
    display: inline-block;
    padding: 9px 29px;
    color: aliceblue;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    margin-right:15px;
    margin-top:  8%;
}
.btn-full:link,
.btn-full:visited {
    background-color: rgba(35, 108, 14, 0.7);
    padding: 13px 30px;
    transition: background-color .2s;
}
.btn-ghost:link,
.btn-ghost:visited {
    border: 4px solid rgba(35, 108, 14, 0.7);
    transition: background-color .2s;
}
.btn-full:hover {
    background-color: rgba(60, 117, 42, 0.29);
    }
.btn-full:active {
    background-color: rgba(35, 108, 14, 0.7);
    color: rgba(115, 187, 248, 0.7);
    transition: color .2s, background-color .2s ;
}
.btn-ghost:hover {
    background-color: rgba(35, 108, 14, 0.7);
}

.btn-ghost:active {
    background-color: rgba(35, 108, 14, 0.7);
    border-color: rgba(35, 108, 14, 0.7);
    color: rgba(115, 187, 248, 0.7);
    transition: color .2s, background-color .2s;
}
/*------ Header Nav Buttons ------*/

.logo{
    float: left;
    height: 100px;
    width: auto;
    margin-left:35px;
    margin-top: 10px;
}
.nav-bar{
    float: right;
    list-style: none;
    margin-top: 44px;
    text-decoration: none;
    margin-right: 20px;


}
.nav-bar li{
    display: inline-block;
    margin-right: 40px;
    padding-bottom: 10px;

}
.nav-bar li a:link,
.nav-bar li a:visited
{
     text-decoration: none;
     text-transform: uppercase;
     font-size: 90%;
     color: #555;
     transition: border-bottom .2s;
     border-bottom: 2px solid transparent;
     padding-bottom: 10px;

}
.nav-bar li a:hover {
    color:rgba(85, 85, 85, 0.65);
    border-bottom: 2px solid rgba(85, 85, 85, 0.65);
    transition: border-bottom .2s;
    cursor: pointer;
    padding-bottom: 10px;


}
.nav-bar li a:active {
    color: white;
    border-bottom: 2px solid white;
    transition: border-bottom .1s;
}

/*------ section  ------*/
h2 {

    color: #555;
    font-size: 180%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    word-spacing: 9px;
    text-align: center;
    margin-bottom: 40px;


}
h2:after {
    display:block;
    height: 3px;
    background-color: rgba(35, 108, 14, 0.7);
    content: " ";
    width: 200px;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;

}
/*------ section paragraphs  ------*/

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 20px;
    text-align:justify;

}
.box {
    padding: 2%;
}
h3 {
     color: #555;
    font-size: 120%;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;


}
.box p {
    font-size:90%;
    line-height: 145%;
    text-align: center;

}

.icon-big {
    font-size: 330%;
    display: block;
    margin-bottom: 10px;
    padding-left: 42%;
    color: rgba(35, 108, 14, 0.7);

}
/*------ Section features  ------*/

.section-features .long-copy{
    margin-bottom: 40px;

}

/*---------*/
.box {

  background: rgba(255,255,255,0.2);
  padding: 10px 0px 20px 20px;
  border: 2px solid #fff;








}
/*

.button {
  font-size: 1em;
  padding: 10px;
  color: #555;
  border: 2px solid rgba(1, 63, 230, 0.66);
  border-radius: 20px/70px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h4 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
-----*/
/*---another shot at it----*/


/* Fix the button on the left side of the page */

/* Style and fix the button on the page */
.open-button {
background-color: rgba(35, 108, 14, 0.7);
color: white;
padding: 12px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
opacity: 0.8;
float:left;
white-space: nowrap



}

/* Position the Popup form */
.login-popup {
position: relative;
text-align: center;
width: 100%;
}
/* Hide the Popup form */
.form-popup {
display: none;
position: fixed;
left: 45%;
top:5%;
transform: translate(-45%,5%);
border: 2px solid #666;
z-index: 9;
}
/* Styles for the form container */
.form-container {
max-width: 300px;
padding: 20px ;
background-color: #fff;
}
/* Full-width for input fields */
.form-container input[type=text], .form-container input[type=password] {
width: 100%;
padding: 10px;
margin: 5px 0 22px 0;
border: none;
background: #eee;
}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}
/* Style submit/login button */
.form-container .btn1 {
color: rgba(1, 63, 230, 0.66);
padding: 12px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
}
/* Style cancel button */
.form-container .cancel {
background-color: #ffffff;
}
/* Hover effects for buttons */
.form-container .btn1:hover, .open-button:hover {
opacity: 1;
}




/*---another shot at it----*/






.section-features {
background-image: linear-gradient(rgba(255, 255, 255, 0.98), rgba(35, 108, 14, 0.7)), url(img/s-image.jpg);

background-repeat: no-repeat;
background-size: cover;

}
.sction-features-tabs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;

}
.section-features ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  align-self: center;


}
.section-features ul li{
  float: left;
  width: 200px;
  height: 40px;
  text-align: center;
}
.section-features  ul li a{
  text-decoration: none;
  display: block;


}
.section-features ul li a:hover{
  background-color: bisque;


}
.section-features ul li ul li{
  display: none;
}
.section-features ul li:hover ul li {
  display: none;
  padding-top: 0%;
  padding-bottom: 0%;
  width: auto;
  height: auto;
  text-align: center;

  display: block;
  border-radius: 0px 0px 0px 10px;
  color: rgba(35, 108, 14, 0.7);


}
/*------ photo gallary ------*/
.section-photos {
    padding:0;




}
.photo-gallary {
    list-style: none;
    width: 100%;

}
.photo-gallary li {
    display:block;
    float:left;
    width: 25%;


}
.photo {
    width: 100%;
    margin:0;
    overflow: hidden;
    background-color: white;
}
.photo img {
    color: blue;
    width: 100%;
    height:auto;
    transform: scale(1.35);
    transition: transform 2s;
    opacity: 0.66;



}
.photo img:hover {
    transform: scale(1.04);
    transition: transform 2s;
}
/*------how it works------*/
.section-moving{
  background-color:rgba(255, 255, 255, 0.25);


    padding: 80px 0;
}
.steps-box img{
    border: 2px solid rgba(11, 11, 11, 0.5);
     height: 60%; width: 60%;

     background-color: rgba(115, 187, 248, 0.7);



}

.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;

}
.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}
.moving-object{
    width: 100%;
    opacity: .5;


    float:none;

}
.list-moving-download{
    position: absolute;

}
.capstament{
    cursor: pointer;
}
.list-moving div{
    color: rgba(1, 63, 230, 0.66);
    border: 2px solid rgba(35, 108, 14, 0.7);
    display: inline-block;

    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    float: left;


    font-size: 150%;
    margin-right: 25px;
}
.aboutContainer{
  border: 2px solid rgba(117, 117, 117, 0.66);
  background-color: rgba(255, 255, 255, 0.72);
  width:80%;
  margin-left: 10%;
  padding: 2% 2% 2% 2%;
  text-align:justify;
  font-size: 120%;


}

/*-- about section --*/
@media screen and (min-width: 700px){
}

      .productContainer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

}
.productContainer div{
  border: 2px solid rgba(117, 117, 117, 0.66);
  padding: 10px;
  margin: 10px;
  width: 400px;
  height: 400px;

}
.flexbox{
  flex-basis: 45%;

}
.flexImage{
  width:300px;
  height: auto;
}
.navProduct{
.background-color: linear-gradient(rgba(255, 255, 255, 0.6),rgba(21, 166, 22, 0.66));

}
